@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: Roboto, sans-serif;
  color: #1F2937;
}



.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}

button {
  /* min-width: 200px; */
  min-width: 20vw;
  min-height: 20vh;
  font-size: 4rem;
  border-radius: 15px;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
}

